NET "clk"      LOC = "V10";

// buttons
NET "btn[3]"  LOC = "C4";
NET "btn[2]"  LOC = "A8";
NET "btn[1]"  LOC = "D9";
NET "btn[0]"  LOC = "C9";

NET "reset"    LOC = "B8";


// vga sync
NET "hsync"    LOC = "N6";
NET "vsync"    LOC = "P7";

// Red: 3 bits
NET "rgb[0]"   LOC = "U7";
NET "rgb[1]"   LOC = "V7";
NET "rgb[2]"   LOC = "N7";
// Green: 3 bits
NET "rgb[3]"   LOC = "P8";
NET "rgb[4]"   LOC = "T6";
NET "rgb[5]"   LOC = "V6";
// Blue: 2 bits
NET "rgb[6]"   LOC = "R7";
NET "rgb[7]"   LOC = "T7";


NET "seg[0]" LOC = "T17";
NET "seg[1]" LOC = "T18";
NET "seg[2]" LOC = "U17";
NET "seg[3]" LOC = "U18";
NET "seg[4]" LOC = "M14";
NET "seg[5]" LOC = "N14";
NET "seg[6]" LOC = "L14";
NET "seg[7]" LOC = "M13";

NET "an[0]" LOC = "N16";
NET "an[1]" LOC = "N15";
NET "an[2]" LOC = "P18";
NET "an[3]" LOC = "P17";
